<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div class="card-header">
        <h3  th:text="#{registration.sign_up}">Registration</h3>
    </div>
        <form  th:action="@{/addUser}"
              th:object="${user}" method="POST">
            <div>
                <label  th:text="#{registration.firstName}">First name</label>
                <input type="text"  placeholder="first name"
                       th:field="*{firstName}">
            </div>
            <div>
                <label  th:text="#{registration.lastName}">Last name</label>
                <input type="text"  placeholder="last name"
                       th:field="*{lastName}">
            </div>
            <div>
                <label  th:text="#{registration.email}">Email</label>
                <input type="email"  placeholder="somel@some.com"
                       required="" th:field="*{email}">
                <span style="color: red" class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <div>
                <label  th:text="#{registration.password}">Password</label>
                <input type="password"  placeholder="password"
                       title="At least 6 characters with letters and numbers" required=""
                       th:field="*{password}">
                <span  th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            </div>
            <div>
                <label  th:text="#{registration.confirmPassword}">Confirm password</label>
                <input type="password"
                       placeholder="confirm your password" required="">
            </div>
            <div >
                <button type="submit" class="btn btn-success btn-lg float-right"
                        th:text="#{registration.signUp}">Sign up</button>
            </div>
        </form>
</head>
<body>

</body>
</html>