<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Create User">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/fontawesome/fontawesome-all.min.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <title>Create User</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 sign-up--form order-first order-lg-last">
                    <div class="row">
                        <div th:if="${#fields.hasGlobalErrors()}">
                            <p th:each="err : ${#fields.globalErrors()}" th:text="${err}">Error message</p>
                        </div>
                        <form th:action="@{/users/signUp}" th:object="${userSignUpRequest}" method="post">
                            <label for="first-name">First Name</label>
                            <input id="first-name" type="text" th:field="*{firstName}" required>
                            <label for="last-name">Last Name</label>
                            <input id="last-name" type="text" th:field="*{lastName}" required>
                            <label for="email">Email</label>
                            <input id="email" type="text" th:field="*{email}" required>
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" th:field="*{password}" required>
                            <label for="password_again">Confirm Password</label>
                            <input id="password_again" type="password" name="confirmPassword" required>
                            <button type="submit">Create User</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>