<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf app</title>
    <link th:href="@{/css/application.css}" rel="stylesheet">
</head>

<body>
<div class="input_box">
    <form action="#" th:action="@{/lelek_task/sign_up}" th:object="${user}" method="post">
        <label for="email">Email</label>
        <input type="text" th:field="*{user.email}" id="email" placeholder="Enter email">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <label for="password">Password</label>
        <input type="text" th:field="*{user.password}" id="password" placeholder="Enter password">
        <label for="confirm_password">Confirm password</label>
        <input type="text" id="confirm_password" placeholder="Repeat password">
        <input type="submit" value="Sign up">
    </form>
</div>
</body>
<script>
    function sConsole(event) {
  event.preventDefault();
  var data = document.getElementById("email");
  console.log(email.value);
}
</script>
</html>