<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Thymeleaf app</title>
    <link th:href="@{/css/application.css}" rel="stylesheet">
</head>

<body>
<div class="input_box">
    <form action="#" th:action="@{/lelek_task/sign_in}" th:object="${user}" method="post">
        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email" placeholder="Enter email">
<!--        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>-->
        <label for="password">Password</label>
        <input type="text" name="password" id="password" placeholder="Enter password">
        <p style="color: red" class="message" th:text="${message}"></p><br>
        <input type="submit" value="Sign in">
    </form>
    <p style="color: #ffffff">If You have no account <a href="/lelek_task/sign_up"
    style="color: #3AE2CE">Sign Up</a></p>
</div>
</body>
</html>