<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Thymeleaf app</title>
    <link th:href="@{/css/application.css}" rel="stylesheet">
    <script th:src="@{/js/application.js}"></script>
</head>

<body>
<div class="input_box">
    <H1 style="color: #ffffff">Welcome to Thymeleaf App</H1>
    <button class="my_button" onclick="signInPage()">Sign In</button>
    <button class="my_button" onclick="signUpPage()">Sign Up</button>
</div>
</body>
</html>