<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Thymeleaf app</title>
    <link th:href="@{/css/application.css}" rel="stylesheet">
</head>

<body>
<div th:insert="~{header}"></div>
<div class="input_box">
    <H1 style="color: #ffffff">Welcome to Thymeleaf App</H1>
    <a th:href="@{/user}"><button class="my_button">User page</button></a>
    <a th:href="@{/admin}"><button class="my_button">Admin page</button></a>
</div>
</body>
</html>